In [0]:
df_emp_csv = spark.read.option("nullValue","null").csv("/FileStore/tables/emp.csv",header=True,inferSchema=True)
display(df_emp_csv)

EMPNO,ENAME,JOB,MGR,HIREDATE,SAL,COMM,DEPTNO,UPDATED_DATE
7369,SMITH,CLERK,7902,17-12-1980,800,null,20,2022-01-01T00:00:00.000+0000
7499,ALLEN,SALESMAN,7698,20-02-1981,1600,300,30,2022-01-01T00:00:00.000+0000
7521,WARD,SALESMAN,7698,22-02-1981,1250,500,30,2022-01-01T00:00:00.000+0000
7566,JONES,MANAGER,7839,04-02-1981,2975,null,20,2022-01-05T00:00:00.000+0000
7654,MARTIN,SALESMAN,7698,21-09-1981,1250,1400,30,2022-01-03T00:00:00.000+0000
7698,SGR,MANAGER,7839,05-01-1981,2850,null,30,2022-01-04T00:00:00.000+0000
7782,RAVI,MANAGER,7839,06-09-1981,2450,null,10,2022-01-02T00:00:00.000+0000
7788,SCOTT,ANALYST,7566,19-04-1987,3000,null,20,2022-01-02T00:00:00.000+0000
7839,KING,PRESIDENT,null,01-11-1981,5000,null,10,2022-01-02T00:00:00.000+0000
7844,TURNER,SALESMAN,7698,09-08-1981,1500,0,30,2022-01-02T00:00:00.000+0000
7876,ADAMS,CLERK,7788,23-05-1987,1100,null,20,2022-01-03T00:00:00.000+0000
7900,JAMES,CLERK,7698,12-03-1981,950,null,30,2022-01-03T00:00:00.000+0000
7902,FORD,ANALYST,7566,12-03-1981,3000,null,20,2022-01-03T00:00:00.000+0000
7934,MILLER,CLERK,7782,01-03-1982,1300,null,10,2022-01-03T00:00:00.000+0000
1234,SEKHAR,doctor,7777,null,667,78,80,2022-01-03T00:00:00.000+0000
7369,SMITH,CLERK,7902,17-12-1980,800,null,20,2022-01-04T00:00:00.000+0000
7499,ALLEN,SALESMAN,7698,20-02-1981,1600,300,30,2022-01-04T00:00:00.000+0000
7521,WARD,SALESMAN,7698,22-02-1981,1250,500,30,2022-01-04T00:00:00.000+0000
7566,JONES,MANAGER,7839,04-02-1981,2975,null,20,2022-01-04T00:00:00.000+0000
7654,MARTIN,SALESMAN,7698,21-09-1981,1250,1400,30,2022-01-05T00:00:00.000+0000
7698,SGR,MANAGER,7839,05-01-1981,2850,null,30,2022-01-05T00:00:00.000+0000
7782,RAVI,MANAGER,7839,06-09-1981,2450,null,10,2022-01-05T00:00:00.000+0000
7788,SCOTT,ANALYST,7566,19-04-1987,3000,null,20,2022-01-06T00:00:00.000+0000
7839,KING,PRESIDENT,null,01-11-1981,5000,null,10,2022-01-06T00:00:00.000+0000
7844,TURNER,SALESMAN,7698,09-08-1981,1500,0,30,2022-01-06T00:00:00.000+0000
7876,ADAMS,CLERK,7788,23-05-1987,1100,null,20,2022-01-06T00:00:00.000+0000
7900,JAMES,CLERK,7698,12-03-1981,950,null,30,2022-01-07T00:00:00.000+0000
7902,FORD,ANALYST,7566,12-03-1981,3000,null,20,2022-01-07T00:00:00.000+0000
7934,MILLER,CLERK,7782,01-03-1982,1300,null,10,2022-01-07T00:00:00.000+0000
1234,RAM,CLERK,7457,null,494,588,80,2022-01-07T00:00:00.000+0000
null,null,null,null,null,null,null,null,null
null,null,null,null,null,null,null,null,null
null,null,null,null,null,null,null,null,null

In [0]:
from pyspark.sql.functions import to_date
df_emp_csv = df_emp_csv.withColumn("HIREDATE",to_date("HIREDATE",'dd-MM-yyyy')).fillna({"HIREDATE":'9999-12-31'})
df_emp_csv.show()

+-----+------+---------+----+----------+----+----+------+-------------------+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|       UPDATED_DATE|
+-----+------+---------+----+----------+----+----+------+-------------------+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|2022-01-01 00:00:00|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|2022-01-01 00:00:00|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|2022-01-01 00:00:00|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|2022-01-05 00:00:00|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|2022-01-03 00:00:00|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|null|    30|2022-01-04 00:00:00|
| 7782|  RAVI|  MANAGER|7839|1981-09-06|2450|null|    10|2022-01-02 00:00:00|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|null|    20|2022-01-02 00:00:00|
| 7839|  KING|PRESIDENT|null|1981-11-01|5000|null|    10|2022-01-02 00:00:00|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|   0|    30|2022-01-02 00:00:00|
| 7876| ADAMS|    CLERK|7788|1987-05-23|1100|null|    20|2022-01-03 00:00:00|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|null|    30|2022-01-03 00:00:00|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|null|    20|2022-01-03 00:00:00|
| 7934|MILLER|    CLERK|7782|1982-03-01|1300|null|    10|2022-01-03 00:00:00|
| 1234|SEKHAR|   doctor|7777|9999-12-31| 667|  78|    80|2022-01-03 00:00:00|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|2022-01-04 00:00:00|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|2022-01-04 00:00:00|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|2022-01-04 00:00:00|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|2022-01-04 00:00:00|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|2022-01-05 00:00:00|
+-----+------+---------+----+----------+----+----+------+-------------------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import date_format
#creating two YEAR and MONTH new columns based on hiredate date field
df_emp_csv = df_emp_csv.withColumn("YEAR",date_format("HIREDATE",'yyyy')).withColumn("MONTH",date_format("HIREDATE",'MM'))
df_emp_csv.show()

+-----+------+---------+----+----------+----+----+------+-------------------+----+-----+
|EMPNO| ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|       UPDATED_DATE|YEAR|MONTH|
+-----+------+---------+----+----------+----+----+------+-------------------+----+-----+
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|2022-01-01 00:00:00|1980|   12|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|2022-01-01 00:00:00|1981|   02|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|2022-01-01 00:00:00|1981|   02|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|2022-01-05 00:00:00|1981|   02|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|2022-01-03 00:00:00|1981|   09|
| 7698|   SGR|  MANAGER|7839|1981-01-05|2850|null|    30|2022-01-04 00:00:00|1981|   01|
| 7782|  RAVI|  MANAGER|7839|1981-09-06|2450|null|    10|2022-01-02 00:00:00|1981|   09|
| 7788| SCOTT|  ANALYST|7566|1987-04-19|3000|null|    20|2022-01-02 00:00:00|1987|   04|
| 7839|  KING|PRESIDENT|null|1981-11-01|5000|null|    10|2022-01-02 00:00:00|1981|   11|
| 7844|TURNER| SALESMAN|7698|1981-08-09|1500|   0|    30|2022-01-02 00:00:00|1981|   08|
| 7876| ADAMS|    CLERK|7788|1987-05-23|1100|null|    20|2022-01-03 00:00:00|1987|   05|
| 7900| JAMES|    CLERK|7698|1981-03-12| 950|null|    30|2022-01-03 00:00:00|1981|   03|
| 7902|  FORD|  ANALYST|7566|1981-03-12|3000|null|    20|2022-01-03 00:00:00|1981|   03|
| 7934|MILLER|    CLERK|7782|1982-03-01|1300|null|    10|2022-01-03 00:00:00|1982|   03|
| 1234|SEKHAR|   doctor|7777|9999-12-31| 667|  78|    80|2022-01-03 00:00:00|9999|   12|
| 7369| SMITH|    CLERK|7902|1980-12-17| 800|null|    20|2022-01-04 00:00:00|1980|   12|
| 7499| ALLEN| SALESMAN|7698|1981-02-20|1600| 300|    30|2022-01-04 00:00:00|1981|   02|
| 7521|  WARD| SALESMAN|7698|1981-02-22|1250| 500|    30|2022-01-04 00:00:00|1981|   02|
| 7566| JONES|  MANAGER|7839|1981-02-04|2975|null|    20|2022-01-04 00:00:00|1981|   02|
| 7654|MARTIN| SALESMAN|7698|1981-09-21|1250|1400|    30|2022-01-05 00:00:00|1981|   09|
+-----+------+---------+----+----------+----+----+------+-------------------+----+-----+
only showing top 20 rows

In [0]:
# using PartitionBy with two columns creating partitions
df_emp_csv.coalesce(4).write.format("delta").partitionBy("YEAR","MONTH").mode("overwrite").saveAsTable("emp_part")

In [0]:
%fs ls /user/hive/warehouse/emp_part/YEAR=1980/MONTH=12/

path,name,size,modificationTime
dbfs:/user/hive/warehouse/emp_part/YEAR=1980/MONTH=12/part-00000-09529696-d429-4916-b747-d3b4c243695b.c000.snappy.parquet,part-00000-09529696-d429-4916-b747-d3b4c243695b.c000.snappy.parquet,2646,1657465838000
dbfs:/user/hive/warehouse/emp_part/YEAR=1980/MONTH=12/part-00000-876d3e58-673c-431f-b96c-9200560285f9.c000.snappy.parquet,part-00000-876d3e58-673c-431f-b96c-9200560285f9.c000.snappy.parquet,2646,1657465627000
dbfs:/user/hive/warehouse/emp_part/YEAR=1980/MONTH=12/part-00000-97f91975-d508-44d7-a8e4-9c8ce0293ac8.c000.snappy.parquet,part-00000-97f91975-d508-44d7-a8e4-9c8ce0293ac8.c000.snappy.parquet,2646,1657465881000

In [0]:
%sql
explain select * from emp_part where year='1980'

plan
"== Physical Plan == *(1) ColumnarToRow +- FileScan parquet default.emp_part[EMPNO#2552,ENAME#2553,JOB#2554,MGR#2555,HIREDATE#2556,SAL#2557,COMM#2558,DEPTNO#2559,UPDATED_DATE#2560,YEAR#2561,MONTH#2562] Batched: true, DataFilters: [], Format: Parquet, Location: PreparedDeltaFileIndex(1 paths)[dbfs:/user/hive/warehouse/emp_part], PartitionFilters: [isnotnull(YEAR#2561), (YEAR#2561 = 1980)], PushedFilters: [], ReadSchema: struct<EMPNO:int,ENAME:string,JOB:string,MGR:int,HIREDATE:date,SAL:int,COMM:int,DEPTNO:int,UPDATE..."